.header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.menu {
    flex: 1;
}

.addButton {
    margin-left: 16px;
}